<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
     Produits
    </h1>
  </div>
</div>


<%= link_to 'Crée un produit' , products_new_path %>

<div class="col-lg-6">
     <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Categorie</th>
        <th>Vente Associé</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      
        <% @products.each do |p| %>
        <tr>
          <td>  <%=  p.label %></td>
          <td>  <%=  p.price %> $</td>
          <td>  <%=  p.stock %></td>
          <% begin %>
          <td>  <%=  p.category.label %></td>
          <% rescue %> 
              Pas de categorie associé
          <% end %>
          <% begin %>
          <td>  <%=  p.sale.label %></td>
          <% rescue %> 
              Pas de Vente  associée
          <% end %>

           
            <td>  
                  <%= link_to 'Voir' , '/products/show/'+"#{p.id}" %> |   
                  <%= link_to 'Editer' , '/products/edit/'+"#{p.id}" %>    |
            
                  <%= link_to 'Supprimer', '/products/destroy/'+"#{p.id}" , method: "delete" , data: {confirm: "You sure?"}%>
            </td>
        </tr>
        <%end %>
    

      
      </tbody>
    </table>
  </div>
</div>